
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4; 
    color: #333; 
}

header {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

footer a:hover {
    text-decoration: underline;
}

.navbar-nav .nav-item {
    margin-right: 15px;
}

.navbar-brand {
    font-size: 1.8rem;
    font-weight: 600;
}

footer p {
    margin: 0;
}
